{
  "extends": ["eslint:recommended"],
  "env": {
    "es6": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "modules": true,
    "emcaVersion": 6
  },
  "globals": {
    "require": true,
    "process": true,
    "__dirname": true,
    "module": true
  },
  "rules": {
    "brace-style": ["warn", "1tbs"],
    "dot-location": ["error", "property"],
    "eqeqeq": ["warn", "always"],
    "indent": ["error", 2],
    "no-console": "off",
    "no-case-declarations": "off",
    "no-trailing-spaces": "warn",
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "global-require": "off"
  }
}